;Program "Dwarf" (length 4) by "A K Dewdney"

START  ADD    #     4, $     3     
       MOV    $     2, @     2     
       JMP    $    -2, $     0     
       DAT    #     0, #     0     
       END      START

