       ORG         10
       ADD.F  $     9, $     1     
       SNE.I  $    70, }    51     
       DJN.F  $    -2, {   338     
       JMP.B  $     3, $     0     
       DAT.F  $     1, $     9     
       SPL.B  #  2700, $    11     
       MOV.I  *    -2, >    -5     
       MOV.I  *    -3, >    -6     
       DJN.F  $    -2, }    -3     
       DAT.F  $   404, $   404     
       NOP.B  >  4000, } -3999     
       MOV.I  { -3999, < -3997     
       MOV.I  { -3997, < -3995     
       MOV.I  { -3995, < -3993     
       MOV.I  { -3993, < -3991     
       DJN.F  $   -15, { -3990     
       END
